/* https://fonts.google.com/?hl=ru */
@font-face {
    font-family: 'Great Vibes';
    src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', 'Arial', sans-serif;
}

body {
    background-color: #f2effa;
    color: #333;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    padding: 20px;
}









/*
Для обеспечения кроссбраузерной совместимости шрифтов в веб-дизайне рекомендуется использовать несколько форматов шрифтов. Наиболее подходящие форматы включают:
WOFF2: Это самый современный и эффективный формат, который обеспечивает наилучшее сжатие и поддержку в современных браузерах. Он обычно на 30% меньше по размеру, чем WOFF, что делает его предпочтительным выбором для веб-разработчиков.
WOFF: Этот формат также широко поддерживается и является хорошим выбором для большинства браузеров. Он был разработан специально для веба и обеспечивает хорошее сжатие, что помогает ускорить загрузку страниц.
TTF (TrueType Font): Хотя этот формат более старый и может быть больше по размеру, он все еще поддерживается большинством браузеров и может использоваться как запасной вариант.
OTF (OpenType Font): Этот формат также имеет хорошую поддержку, но его использование может быть менее распространенным по сравнению с WOFF и WOFF2.
EOT (Embedded OpenType): Этот формат в основном используется для поддержки старых версий Internet Explorer (IE 8 и ниже). Однако его использование становится все менее актуальным, так как доля пользователей этих браузеров снижается.
Рекомендуется использовать правило @font-face в CSS для подключения шрифтов, указывая все эти форматы, чтобы браузер мог выбрать наиболее подходящий:
@font-face {
  font-family: 'MyCustomFont';
  src: url('mycustomfont.woff2') format('woff2'),
       url('mycustomfont.woff') format('woff'),
       url('mycustomfont.ttf') format('truetype'),
       url('mycustomfont.otf') format('opentype');
}

*/