:root {
  --color-primary: #c3f38c;
  --color-secondary: #9FF33D;
  --color-tetriary: #a72dbd;

      }
@font-face {
  font-family: "Great";
  src: url("/fonts/GreatVibes-Regular.ttf");
}      
body {
    background-color: rgb(224, 240, 217);
    margin: 0;
    font-family:"Great",'Times New Roman', Times, serif;
     }  
h1 {
  font-family:Arial, Helvetica, sans-serif
}     
a {
    text-decoration: none; 
    border: 1px solid;
    padding: 5px;
    border-radius: 3px;
    color:black;
    width: 100px;
    display:block; 
    text-align: center ;
  }
a:hover {
    box-shadow: 2px 2px rgba(47, 45, 45, 0.784);
    background-color:var(--color-secondary);
        }
a:active {
  box-shadow: none;
         } 
.header {
    background-color: var(--color-primary);
    padding: 10px 0 10px 0;
    text-align: center;
    margin:0;
    
        } 

.menu {
   background-color: var(--color-primary);
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   padding: 20px 0 20px 0;
   margin: 0;
      }
.menu-item {
    padding: 0 50px 0 50px; 
           }      
.footer {
   color:aliceblue;
   padding: 30px 0 30px 0; 
   background:
    linear-gradient(60deg, rgb(227, 92, 244) 0%, rgba(121, 83, 237, 1) 100%);
   /* var(--color-tetriary); */
   text-align: center;
   display: flex;
   justify-content: center;
   
        }
.aqua-div {
  background-color: var(--color-secondary);
  text-align:end;
  padding: 30px 60px;
          }
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 60px; 
           }
.section {
  display: flex; 
  width: 200px; 
  height: 200px; 
  max-height: 200px; 
  min-height: 200px; 

  /* border-radius: 150px 10px;  */
  border-radius: 100px 100px 100px 0; 
  background-color: var(--color-secondary);
  margin: 50px;
  align-items:center;
  
  
         }
.absolute-position {
     position: fixed;
     bottom: 50%;
     right: 20px;
     background-color: var(--color-tetriary);
     width:60px;
     height: 60px;
     border-radius: 50%;
     color: azure;
     text-align: center;
                   }
.padding40 {
   padding: 20px 0;
           }                  
.link {
  border:none;
  padding: 0;
  width: auto;
  color:aliceblue;
  /* next
  border-radius: 0px;
  display: inline;
  */
      }
.link:hover {
  box-shadow: none;
  background-color: var(--color-tetriary);
            }
.link:active{
  box-shadow: none;
            }            
.text { /* next */
   width: 80%;
   height: 50%;
   text-align: justify;
   padding: 20% 5% 15% 5%;
   margin: 0 5px 5px 5px ;
   overflow: hidden;
   overflow-wrap: break-word;
/*    
   text-overflow: ellipsis;
   white-space: nowrap;
*/
      }




      
/*
.section {
    display: flex;
    width: 200px; 
    height: 200px; 
    border-radius: 150px 10px; 
    background-color: rgb(226, 200, 115);
    margin: 0 50px 0 50px;
         }
                    
.section {
  display: flex;
  width: calc(100vw - 50px); 
  height: calc(100vw - 50px); 
  border-radius: calc(100vw - 50px) 10px; 
  background-color: rgb(226, 200, 115);
  margin: 0 10% 0 10%;
         }
  */



/*    
a:active {
    box-shadow: none;
         }



    min-width: 100px;
    width: 100px;
    max-width: 100px;
    display: block; 
    text-align: center;
*/    


  p {
    color:brown;
  }




  .aqua-div {
    color: rgb(41, 3, 233);
  }

  .selected {
    color: rgb(177, 226, 40);
    font-weight: 600;
    font-style: oblique ;
  }
  .center-text {
    text-align: justify;
  }

  .end-text {
    text-align: end;
  }

