<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Демо сайта на CODDY</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" >

<!--
    <link rel="import" href="component.html">
-->    

    <!-- Алан проект -->
<!-- 
 https://csszengarden.com/ 
 https://colorscheme.ru/
 https://image.online-convert.com/ru/convert/png-to-ico
 http://www.flexboxdefense.com/
 -->
</head>
<body>
    <nav>
       <ul class="menu">
        <li class="menu-item"><a href="../index.html">Основная</a></li>
        <li class="menu-item"><a href="about.html">О нас</a></li>
        <li class="menu-item"><a href="contact.html">Контакты</a></li>
        <li class="menu-item"><a href="trees.html">Дерево</a></li>
        <li class="menu-item"><a href="https://www.google.com" rel="noopener" target="_blank" >Google</a></li>
        
       </ul>
    </nav>
   <h1 class="header" >О НАС </h1> 
   <header class="aqua-div">
    подзаголовок
   </header>

<div class="container">
    <section class="section">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est optio, dignissimos ipsa quod tempore laboriosam obcaecati soluta rerum doloribus dolores impedit praesentium mollitia ea at sapiente necessitatibus odio explicabo consequuntur?
    </section>

    <section class="section">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est optio, dignissimos ipsa quod tempore laboriosam obcaecati soluta rerum doloribus dolores impedit praesentium mollitia ea at sapiente necessitatibus odio explicabo consequuntur?
    </section>
    <section class="section">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est optio, dignissimos ipsa quod tempore laboriosam obcaecati soluta rerum doloribus dolores impedit praesentium mollitia ea at sapiente necessitatibus odio explicabo consequuntur?
    </section>
    <section class="section">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est optio, dignissimos ipsa quod tempore laboriosam obcaecati soluta rerum doloribus dolores impedit praesentium mollitia ea at sapiente necessitatibus odio explicabo consequuntur?
    </section>
    <section class="section">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est optio, dignissimos ipsa quod tempore laboriosam obcaecati soluta rerum doloribus dolores impedit praesentium mollitia ea at sapiente necessitatibus odio explicabo consequuntur?
    </section>
    <section class="section">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est optio, dignissimos ipsa quod tempore laboriosam obcaecati soluta rerum doloribus dolores impedit praesentium mollitia ea at sapiente necessitatibus odio explicabo consequuntur?
    </section>
</div>

   <div class="aqua-div center-text">
    <div>lxwdxw 
        <div>xxs</div>
    </div>
    Lorem ipsum dolor sit, <span class="selected">amet consectetur </span>adipisicing elit. Molestiae numquam alias quod laborum doloribus. Earum illum mollitia, corporis doloribus minima quis veniam modi facilis quos itaque tempore autem eos eius.
   </div>

    <!--
    <br><a href="https://www.w3schools.com/charsets/ref_utf_reference.asp">Таблица UTF-8</a>
    -->
    
  <footer class="footer">
    подножие
  </footer>


</body>
</html>