<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Демо сайта на CODDY</title>
   <link rel="stylesheet" href="../css/styles.css">
   <link rel="icon" type="image/x-icon" href="/images/favicon.ico" >
    <style>
        
    </style>


    <!-- Алан проект -->
<!-- 
    
  <a href="https://www.w3schools.com/charsets/ref_utf_reference.asp">Таблица UTF-8</a>
   
 https://csszengarden.com/ 
 https://colorscheme.ru/
 -->
</head>
<body>
    <nav>
       <ul class="menu">
        <li class="menu-item"><a href="../index.html">Основная</a></li>
        <li class="menu-item"><a href="about.html">О нас</a></li>
        <li class="menu-item"><a href="contact.html">Контакты</a></li>
        <li class="menu-item"><a href="trees.html">Дерево</a></li>
       </ul>
    </nav>
   <h1 class="header">Наши контакты</h1> 
   <header class="aqua-div">
    подзаголовок
   </header>

<div class="container">
    <section class="section">
        If you can imagine a furry humanoid seven feet tall, with the face of an intelligent gorilla and the braincase of a man, you'll have a rough idea of what they looked like -- except for their teeth. The canines would have fitted better in the face of a tiger, and showed at the corners of their wide, thin-lipped mouths, giving them an expression of ferocity.

    </section>

    <section class="section">
        It was their first date and she had been looking forward to it the entire week. She had her eyes on him for months, and it had taken a convoluted scheme with several friends to make it happen, but he'd finally taken the hint and asked her out.
    </section>
    <section class="section">
        Was it enough? That was the question he kept asking himself. Was being satisfied enough? He looked around him at everyone yearning to just be satisfied in their daily life and he had reached that goal. He knew that he was satisfied and he also knew it wasn't going to be enough.
    </section>
    <section class="section">
        Brenda never wanted to be famous. While most of her friends dreamed about being famous, she could see the negative aspects that those who wanted to be famous seemed to ignore. The fact that you could never do anything in public without being mobbed and the complete lack of privacy was something that she never wanted to experience. 
    </section>
</div>


    
  <footer class="footer">
    подножие
  </footer>


</body>
</html>