<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Демо сайта на CODDY</title>
   <link rel="stylesheet" href="../css/styles.css">
   <link rel="stylesheet" href="../css/trees.css">
   <link rel="icon" type="image/x-icon" href="/images/favicon.ico" >
    <style>
        
    </style>


    <!-- Алан проект -->
<!-- 
 https://csszengarden.com/ 
 https://colorscheme.ru/
 https://flexboxfroggy.com/#ru
 -->
</head>
<body>
    <nav>
       <ul class="menu">
        <li class="menu-item"><a href="../index.html">Основная</a></li>
        <li class="menu-item"><a href="about.html">О нас</a></li>
        <li class="menu-item"><a href="contact.html">Контакты</a></li>
        <li class="menu-item"><a href="trees.html">Дерево</a></li>
    </ul>
       </ul>
    </nav>
   <h1 class="header" >Демонстрация псевдоэлементов</h1> 
   <header class="aqua-div">
    подзаголовок
   </header>

<div class="container">
    <ul class="tree">
        <li>Корень
             <ul>
                <li>Каталог 1
                    <ul>
                        <li>Подкаталог 1.1</li>
                        <li>Подкаталог 1.2</li>
                    </ul>
                </li>
                <li>Каталог 2
                    <ul> 
                        <li>Подкаталог 2 
                            <ul>
                                <li>Файл 1</li>
                                <li>Файл 2</li>
                            </ul>
                        </li>
                    </ul>

                </li>
             </ul>
        </li>

    </ul>



</div>


<footer class="footer">
    <ul>
        <li><a class="link" href="mailto:qwer@mail.ru">Напишите нам</a></li>
        <li><a class="link" href="tel:+712345674567">Позвоните нам</a></li>
    </ul>
</footer>
</body>
</html>